.nav-item{
    margin-right: 90px;

}
.search{
    margin-right: 190px;
}
#home{
    margin-right: 90px;
}
#login{
  
    margin-right: 90px;
}
#img{
    background-size: cover;
   
}  
.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

