
<div>

<div style="max-width: 100%;overflow-x: hidden;overflow-y:hidden;">
    <div style="height:900px;background-repeat:no-repeat;background-size: 100% 100%;">
        <nav style="background:black" class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><i class="fa fa-fu fa-home"></i>E-mart</a>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" id="home">
                            <a style="margin-left: 90px;" class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item" id="home">
                          <a style="margin-left: 90px;" [routerLink]="'/Land/login'" routerLinkActive="router-link-active"  class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                      </li>
                     
                 
               
              </ul>
             
                </div>
                
                
                
            </div>
          </nav>
          
        <div class="container" style=" width: 100%;" class="video-size">
      <video [muted]="true" autoplay playsinline loop style="margin-top: -30px;width: 100%;height: 500px;object-fit: cover;z-index: -100;" playsinline="playsinline" muted="muted" loop="loop">
        <source src="assets/images/food1.mp4" type="video/mp4">
      </video>
      
  
   
      <div class="container-fluid" id="pic">    
        <h4 style="margin-top: 10px;">You May Like</h4>
        <div style="margin-top: 40px;" class="row">
           
          <div class="col-sm-3">
            <img src="../assets/images/biryani.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
            <p style="color: white;">hhddhkj</p>
          </div>
          <div class="col-sm-3"> 
            <img src="../assets/images/noodle.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
            <p style="color: white;">hhddhkj</p>
              
          </div>
          <div class="col-sm-3">
            <img src="../assets/images/prawn.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
            <p style="color: white;">hhddhkj</p>
            </div>
            <div class="col-sm-3"> 
            <img src="../assets/burg.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
            <p style="color: white;">hhddhkj</p>
            </div>
            <div class="col-sm-3"> 
              <img src="../assets/images/biryani1.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
              <p style="color: white;">hhddhkj</p>
              </div>
              <div class="col-sm-3"> 
                <img src="../assets/images/phone2.jpg" class="img-responsive" style="width:100%;height:300px;" alt="Image">
                <p style="color: white;">hhddhkj</p>
                </div>
        
          </div>
          <div>bjbjh</div>
          <footer style="margin-top: 500px;" class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
              <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
            </div>
            <!-- Copyright -->
          
          </footer>
        </div>