<form [formGroup]="Buyerform" (ngSubmit)="Onsubmit()">
    <div class="container register-form" id="form" style="float: right;margin-top:90px;margin-right:130px;">
        <div class="form">
            <div class="note">
                <p>My Profile</p>
            </div>
            
            <div class="form-content"  style="border-color: white;">
                <div class="row">
                    
                    <div class="col-md-6">
                        
                        <div class="form-group">
                            <input type="text" formControlName="username" class="form-control" placeholder="Your Name *" value=""  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">First Name is required</div>
                                <div *ngIf="f.username.errors.pattern">Enter only Alphabets</div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            
                            <input type="password" formControlName="password" class="form-control" placeholder="Your password *" value="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">First Name is required</div>
                                <div *ngIf="f.password.errors.pattern">Enter only Alphabets</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                    
                     
                        <div class="form-group">
                            <input type="email" formControlName="email" class="form-control" placeholder="Your email *" value="" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">First Name is required</div>
                                <div *ngIf="f.email.errors.pattern">Enter only Alphabets</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="mobilenumber" class="form-control" placeholder="Your Mobile Number*" value="" [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }"/>
                            <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">
                                <div *ngIf="f.mobilenumber.errors.required">First Name is required</div>
                                <div *ngIf="f.mobilenumber.errors.pattern">Enter only Alphabets</div>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-12">
                        <div class="form-group">
                            <input readonly type="text" formControlName="createdatetime" class="form-control" placeholder="Your Mobile Number*" value="" [ngClass]="{ 'is-invalid': submitted && f.createdatetime.errors }"/>
                            <div *ngIf="submitted && f.createdatetime.errors" class="invalid-feedback">
                                <div *ngIf="f.createdatetime.errors.required">First Name is required</div>
                                <div *ngIf="f.createdatetime.errors.pattern">Enter only Alphabets</div>
                            </div>
                        </div>
                        
                    </div>
             
                    <button (click)="Edit()" type="button" data-target="#exampleModalCenter" class="btnSubmit">Edit</button>

            </div>
             
            </div>
       
        </div>
    </div>
</form>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div style="background-image: liner-gradient(black,white);" class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Items</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div style="background-color:rgb(0,0,0,0.5);" class="modal-body">
          <form [formGroup]="Buyerform">
            <div class="form-group" >
              <label style="color: black;" class="col-form-label">Item Name:</label>
              <input  style="color: black;" formControlName="itemnam" type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label style="color: black;" class="col-form-label">price:</label>
              <input  type="text" formControlName="price" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label style="color: black;" class="col-form-label">Brief:</label>
              <input  type="text" formControlName="itemdet" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label style="color: black;" class="col-form-label">Stock We Have:</label>
              <input  type="text" formControlName="stock" class="form-control" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button (click)="Edit()" type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
</div>
    
    